html, body {
    width: 400px;
    height: 500px;
}

.sharingan-button {
    margin-top:25% auto;
    padding: 5px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}

.sharingan-disabled {
    background-color: blue;
}

.sharingan-enabled {   
    background-color: red;
}

.sharingan-unavailable {
    background-color: silver;
}

.playback-test-button {
    margin-top:25% auto;
    padding: 5px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    background-color: aqua;
}
