html,
body {
    width: 400px;
    height: 450px;
}

.sharingan-button {
    margin-top: 25% auto;
    padding: 5px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.sharingan-disabled {
    background-color: red;
}

.sharingan-enabled {
    background-color: green;
}

.sharingan-unavailable {
    background-color: silver;
}

.report-segment {
    width: 100%;
    margin-top: 5% auto;
    border: none;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
}